body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
}

#resetBtn {
    padding: 16px 32px;
    color: white;
    background-color: dodgerblue;
    border: 3px solid black;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}